@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./components/header", "./components/facilities", "./components/footer", "./components/products", "./components/discounts", "./components/collections";


*{ 
    box-sizing: border-box;
}
.container{ 
    width: 1440px;
    margin: 0 auto;
    outline: 2px solid red;
}

a{ 
    text-decoration: none;
    color: inherit;
}
li, ul, h1, h2, h3, h4{ 
    padding: 0;
    margin: 0;
}
body{ 
    padding: 0;
    margin: 0;
}
ul{ 
    list-style-type: none;
}